<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>brain info</title>
    <style>
   h2 {
    background: #696969
   }
  </style>
</head>
<body style="background-color:black; color:white">
        <img src="images/mozg.png"> <h1>10 ИНТЕРЕСТНІХ ФАКТОВ О МОЗГЕ</h1>
        <h2>1. Объем памяти мозга неограничен</h2> <br>
        В мозге, в отличие от компьютеров и телефонов, место никогда не заканчивается. Невозможно узнать настолько много информации, чтобы не было куда ее разместить. Важно только помнить, что мозгу необходимо высыпаться, чтобы лучше запоминать новую информацию.d
        <br><br>
<h2>2. Мозг не устает от интеллектуальной работы</h2><br>
Чувство усталости и апатии появляются только из-за эмоций и переживаний. При умственной работе состав крови, проходящий через мозг, не меняется.
        <br><br>
<h2>3. Влюбленность можно увидеть на фМРТ</h2><br>

Кто-то считает, что влюбленность — это состояние души человека. Но на самом деле, когда человек влюблен, в мозге происходят изменения. Если сделать фМРТ, то на снимках будет заметно как «загораются» места, в которых присутствует дофамин — нейромедиатор, вызывающий приятные ощущения.
    <br><br>
        <h2>4. Мозг не чувствует боль</h2><br>

В мозге нет болевых рецепторов. Они присутствуют только в мозговых оболочках и кровеносных сосудах. К примеру, когда человек испытывает головную боль, болит вовсе не сам мозг, а окружающие его ткани.
    <br><br>
        <h2>5. Мозг состоит на 60% процентов из жиров</h2><br>

Мозг — орган, в котором содержится больше всего жиров. Поэтому для его здоровья так необходима диета, богатая полезными жирами (омега-3 и омега-6). Они укрепляют стенки мозговых клеток, а также переносят и хранят жирорастворимые витамины.
    <br><br>
        <h2>6. Мозг не может существовать ни без кислорода, ни без глюкозы</h2><br>

Нервным клеткам необходимы эти два вещества для функционирования и выживания. Если в течение 3–5 минут мозг не получает достаточно кислорода или глюкозы, в нём происходят необратимые нарушения. Доказано, что смерть практически никогда не бывает мгновенной. Пока в клетках мозга еще есть кислород и глюкоза, он не погибает ещё в течение нескольких минут.
    <br><br>
        <h2>7. Мозг генерирует от 25 000 до 50 000 мыслей в день</h2><br>

Подсчитано, что у большинства людей 70% этих мыслей отрицательные. Кроме того, более 100 000 химических реакций происходят в мозгу каждую секунду.
    <br><br>
        <h2>8. Разные части мозга отвечают за разные функции</h2><br>

Задумывались ли вы когда-либо, что произойдет у человека с сознанием, если удалить часть мозга? Резекция тех или иных отделов будет сопровождаться утратой какой-то из функций мозга, ведь разные его части, на самом деле, отвечают за разные функции, начиная от движений в руках, заканчивая речью.
    <br><br>
        <h2>9. У мозга есть немые зоны</h2><br>

Действительно, так называемые “немые” зоны мозга, которые не отвечают за важные функции, существуют. Только на первый взгляд кажется, что после резекции этих зон, мы не увидим утраты функций человека. На самом деле, свободных зон нет, в разной степени все отделы головного мозга активны. Пример этому наводит врач-нейрохирург в своем интервью для Doc.ua, которое можно посмотреть ниже.
    <br><br>

        <h2>10. Мы используем мозг не на 100%?</h2><br>

Правда ли что мозг человека при всех этих фактах работает всего на 9%? Некоторые люди и ученые, включая даже Альберта Эйнштейна, полагают, что мы используем мозг на 9%. Алексей Ерошкин утверждает, что это миф, потому как мозг работает на все 100% круглосуточно и находится в функциональной активности на протяжении всей жизни, даже когда мы спим. Но, если мы говорим об интеллектуально-мнестических особенностях (мыслительных) - тогда это индивидуально и зависит от развитости полей головного мозга. Чем больше человек работает над развитием своих интеллектуальных способностей, тем
        больше объем головного мозга он может включать в работу. В этом потенциал не ограничен. Как именно развивать эти способности Алексей Ерошкин поделился в нашем видео.
<h3><a href='{{  url_for("index")  }}'>Вернутся на глав. стр.</a></h3>
</body>
</html>